body {
  background-color:rgb(241, 241, 241);
}

.attachment-medium {
  width: 500px;
  height: 300px;
  margin-bottom: 50px;
}


.kiji {
  margin-left: 2px;
  padding-left: 50px;
  font-family: 'Cinzel', serif;
  float: left;
  width: 70%;
}

.row {
	display: block;
	overflow: hidden;
	content: "";
}

#sidebar {
  width: 28%;
  text-align: center;
	float: right;
}

p {
  width: 700px;
}